<!DOCTYPE html>
<html>
  <title>Hat Trick Lacrosse</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/jpg" href="../images/logo.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
  <div class="container">
    <a class="navbar-brand" href="/"><b>HAT TRICK LACROSSE</b></a>
      <ul class="navbar-nav ml-auto">
        <a href="#about">ABOUT</a>
        <a href="#deadlines">DEADLINES</a>
        <a href="#faq">FAQ</a>
        <a href="#sponsors">SPONSORS</a>
        <a href="#register">REGISTER</a>
      </ul>
  </div>
</nav>

<!-- Page content -->
<div class="content" style="max-width:2000px;margin-top:50px">

  <!-- Cover Section -->
  <div class="container cover" id="register" >
    <h2 style="font-size: 80px"><b>HAT TRICK LACROSSE</b></h2>
    <p style="font-size: 40px"><i>Summer 2019 Clinics</i></p>
    <p style="font-size: 20px">August 5-9, 2019 1-3PM Coaches Field</p>
    <a target="_blank" href="https://bit.ly/2w8yDtZ"><button style="margin-top: 50px"><b>R E G I S T E R&nbsp;&nbsp;&nbsp;N O W !</b></button></a>
  </div>

  <!-- About Section -->
  <div class="container" id="about">
    <table>
      <tr>
        <td><img src="../images/girl.png" alt="Lacrosse Girl"></td>
        <td><h2 style="font-size: 60px; padding-top:2em"><b>About</b></h2>
        <p style="font-size: 20px">Join coaches from the NCS champion Piedmont High School girls' varsity lacrosse team to improve your <b>stick skills, athleticism, and lacrosse IQ!</b></p>
        </td>
      </tr>
    </table>
  </div>

  <!-- Schedule Section -->
  <div id="deadlines">
    <div class="container" style="padding-bottom: 20em">
      <h2 style="font-size: 60px; padding-top:1.5em;"><b>Registration Deadlines</b></h2>
      <table style="font-size: 20px; width: 50%; padding: 20em 0 0 0!important">
        <tr>
          <td>Standard registration opens</td>
          <td>Mar 18, 2019 8:30am</td>
        </tr>
        <tr>
          <td>Last day for standard registration</td>
          <td>Aug 10, 2019 5pm</td>
        </tr>
        <tr>
          <td>Internet registration opens</td>
          <td>Feb 26, 2019 10am</td>
        </tr>
        <tr>
          <td>Non-residents</td>
          <td>Mar 12, 2019 10am</td>
        </tr>
        <tr>
          <td>Last day for Internet registration</td>
          <td>Aug 10, 2019 5pm</td>
        </tr>
      </table>
      </div>
  </div>

  <!-- Faq Section -->
  <div class="container" id="faq">
    <h2 style="font-size: 60px; padding-top:1.5em"><b>FAQs</b></h2>
      <div class="half">
        <p style="font-size:20px"><i>How much does it cost to attend?</i></p>
        <p style="font-size:20px; margin-bottom:2em">$200.00 for Piedmont residents and $225.00 for non-residents</p>
      </div>
      <div class="half">
        <p style="font-size:20px"><i>Who can attend?</i></p>
        <p style="font-size:20px; margin-bottom:2em">Girls aged 6-14 of all skill levels welcome! Sign up <a target="_blank" href="https://bit.ly/2w8yDtZ">here</a></p>
      </div>
      <div class="half" style="padding-bottom: 4em;">
        <p style="font-size:20px"><i>What should I bring?</i></p>
        <p style="font-size:20px; margin-bottom:2em">A water bottle, snacks, signed and completed waivers, and a good attitude!</p>
      </div>
    </div>
  </div>

  <footer>
    <p style="font-size:14px"> ©
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
      Hat Trick Lacrosse. All rights reserved.</p>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
